---
Checks: "-*,\
boost-*,\
cert-*,\
-cert-err33-c,\
-cert-err58-cpp,\
-cert-dcl37-c,\
-cert-dcl51-cpp,\
-cert-msc30-c,\
-cert-msc50-cpp,\
clang-analyzer-*,\
-clang-analyzer-security.insecureAPI.*,\
-cppcoreguidelines-*,\
cppcoreguidelines-init-variables,\
cppcoreguidelines-explicit-virtual-functions,\
-cppcoreguidelines-slicing,\
-cppcoreguidelines-pro-*,\
-cppcoreguidelines-avoid-*,\
-cppcoreguidelines-special-*,\
-cppcoreguidelines-macro-usage,\
-cppcoreguidelines-owning-memory,\
-cppcoreguidelines-narrowing-conversions,\
hicpp-*,\
-hicpp-braces-around-statements,\
-hicpp-explicit-conversions,\
-hicpp-member-init,\
-hicpp-no-malloc,\
-hicpp-signed-bitwise,\
-hicpp-special-member-functions,\
-hicpp-uppercase-literal-suffix,\
-hicpp-vararg,\
misc-*,\
-misc-const-correctness,\
-misc-non-private-member-variables-in-classes,\
-misc-no-recursion,\
-misc-unused-parameters,\
-misc-unconventional-assign-operator,\
-misc-use-anonymous-namespace,\
modernize-*,\
-modernize-macro-to-enum,\
-modernize-use-default-member-init,\
-modernize-use-nodiscard,\
-modernize-use-trailing-return-type,\
-modernize-use-using,\
performance-*,\
portability-*,\
-readability-*,\
-*magic-numbers,\
-*avoid-c-arrays,\
-*-no-array-decay,\
-*-use-equals-default,\
"
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: false
FormatStyle:     none
User:            clausklein
...

